body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}
.topo {
  background: #1e1e1e;
  padding: 20px;
  display: flex; justify-content: space-between;
}
.conteudo { padding: 20px; }

.novoBtn {
  padding: 12px;
  background: seagreen;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

#tabela {
  margin-top: 20px;
  width: 100%; border: 1px solid #444;
}
#tabela td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

input, textarea {
  width: 100%; padding: 10px; margin: 5px 0;
  border-radius: 8px; border: none;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.editorBox {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}
